<div class="header reveal-hidden" #revealElem>
  <i class="fa-solid fa-ranking-star"></i>
  <h1>Top Picks: According to Our Guests</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quas ipsum nostrum exercitationem nulla. Reprehenderit?</p>
</div>
<div class="container">
  @if(dataLoaded){
    <div class="carousel-main">
    
    <button class="nav-btn prev" (click)="prev()" [disabled]="currentIndex() === 0">
      <i class="fa-solid fa-chevron-left"></i>
    </button>

    <section class="room_cards" [style.transform]="getTransform()">
      @for (item of favRooms(); track $index) {
        <div class="card">
          <img [src]="item.images[randomImgIndex % item.images.length]?.source" />
          <div class="overlay">
            <div class="info">
              <h3>{{ item.name }}</h3>
              <p>From ${{ item.pricePerNight }} / Night</p>
              <div class="line"></div>
              <p>Capacity: {{ item.maximumGuests }}</p>
              <button>Room Details <i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
          </div>
        </div>
      }
    </section>

    <button class="nav-btn next" (click)="next()" [disabled]="currentIndex() >= favRooms().length - 3">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
    
  </div>

  <section class="dots">
    @for (item of favRooms(); track $index) {
     @if ($index <= favRooms().length - 3) {
       <button
        class="dot"
        [class.active]="currentIndex() === $index"
        (click)="goToSlide($index)"
      ></button>
     }
    }
  </section>
  }@else if (isLoading) {
    <h1 class="loading_msg">Searching for our top picks...</h1>
  }
  @else {
    <h1 class="error_msg"> {{errorMsg}} </h1>
  }
</div>