.cont{
    width: 100%;
    overflow: hidden;
    background-color: var(--dg);
    padding: 25px 0;
    white-space: nowrap;
    display: flex;
}

.track{
    display: flex;
    width: max-content;
    animation: slide-right 20s linear infinite;
}

.content{
    display: flex;
    align-items: center;
}

.text{
    font-family: var(-hff);
    font-size: 26px;
    color: #fff;
    padding: 0 50px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
}

.text i{
    font-size: 26px;
    opacity: 0.5;
}

@keyframes slide-right {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0);
    }
}