.footer{
    width: 100%;
    height: 100px;
    background-color: var(--dg);
}

.some_text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 80px;
    background-image: url("/assets/images/some_text_bg.jpg");
    background-position: left;
    background-size: cover;
}

h1{
    text-align: center;
    font-family: var(--hff);
    font-weight: 200;
}

.line{
    width: 100px;
    height: 2px;
    background-color: var(--lb);
    margin: 0 auto;
}