/* :host {
  display: block;
  margin-top: 90px;
} */
section {
  height: 120px;
  background-color: var(--dg);
}

.to_up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: var(--mochi);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  transform: translateY(20px);
}

.to_up.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.to_up:hover {
  background: var(--lb);
}
