@if (isLocalLoading()) {
  <div class="full-page-loader">
    <div class="spinner"></div>
    <h2>Finding your reservations...</h2>
  </div>
} @else {
  <div class="booking-results">
    @if (booking().length > 0) {
      <!-- profile -->
      <div class="profile">
        <div class="field pfp">
          <img [src]="userInfo().avatar" alt="user_pfp" />
          <p class="username">{{ userInfo().firstName }} {{ userInfo().lastName }}</p>
        </div>
        <div class="field email_f">
          <p>
            Email: <span class="email"> {{ userInfo().email }} </span>
          </p>
        </div>
        <button class="deleteAcc">DELETE ACCOUNT</button>
        <p class="warning">
          <i class="fa-solid fa-triangle-exclamation"></i> Warning: Deleting your account is
          permanent and cannot be undone. All your reservations and data will be lost.
        </p>
      </div>
      <!-- reservations -->
      <div class="cont">
        <div class="title"><i class="fa-regular fa-file-lines"></i>MY RESERVATIONS</div>

        <div class="reservations" data-lenis-prevent>
          <div class="bookings_cont">
            @for (item of booking(); track item.id) {
              <div class="booking_card">
                <div class="hotel-header">
                  <img [src]="item.hotelDetails.featuredImage" class="hotel-img" alt="Hotel" />
                  <div class="hotel-name-loc">
                    <h4>{{ item.hotelDetails?.name }}</h4>
                    <span
                      ><i class="fa-solid fa-location-dot"></i> {{ item.hotelDetails?.city }}</span
                    >
                  </div>
                </div>

                <div class="room-details">
                  <div class="room-main">
                    <img
                      [src]="item.roomDetails?.images[0]?.source"
                      class="room-thumb"
                      alt="Room"
                    />
                    <div>
                      <h5>{{ item.roomDetails?.name }}</h5>
                      <p>${{ item.roomDetails?.pricePerNight }} / night</p>
                    </div>
                  </div>

                  <div class="guest-info">
                    <p><strong>Guest:</strong> {{ item.customerName }}</p>
                    <p><strong>Phone:</strong> {{ item.customerPhone }}</p>
                  </div>
                </div>

                <div class="booking-footer">
                  <div class="dates">
                    <div>
                      <small>CHECK-IN</small>
                      <p>{{ item.checkInDate | date: 'dd MMM yyyy' }}</p>
                    </div>
                    <div>
                      <small>CHECK-OUT</small>
                      <p>{{ item.checkOutDate | date: 'dd MMM yyyy' }}</p>
                    </div>
                  </div>

                  <div class="status-price">
                    <span class="status-tag" [class.confirmed]="item.isConfirmed">
                      {{ item.isConfirmed ? 'CONFIRMED' : 'PENDING' }}
                    </span>
                    <p class="total">
                      Total: <strong>${{ item.totalPrice }}</strong>
                    </p>
                  </div>
                  <div class="card-actions">
                    <button class="btn-cancel"><i class="fa-solid fa-xmark"></i> CANCEL</button>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    } @else {
      <div class="empty-state">
        <i class="fa-solid fa-calendar-minus"></i>
        <h2>No bookings found</h2>
        <p>Your future adventures will appear here.</p>
      </div>
    }
  </div>
}
