@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --lb:#AA998A;
  --w: #fff;
  --dg: #004530;
  --mochi: #407464;
  --pff: 'Roboto', sans-serif;
  --hff: 'Forum', serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
